.divUser{
  border-radius: 5px;
  border: 2px solid whitesmoke;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 8px;
  margin: 6px;
  margin-bottom: 15px;
  background-color: #4d0a11;
}

.titleApp{
  color: white;
}

.titleUser{
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  color: white;
}

.subTitleUser{
  margin: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
}

.textTopUser{
  margin: 0;
  padding-top: 12px;
  padding-bottom: 4px;
  color: white;
}

.textUser{
  margin: 0;
  padding-top: 2px;
  color: white;
}

.generalText{
  color: white;
}

.divMain{
  border-radius: 5px;
  border: 2px solid tomato;
  background-color: tomato;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 8px;
  margin: 20px;
}

.tituloMain{
  margin: 0;
  color: white;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: tomato;
}

.subTituloMain{
  margin: 0;
  color: white;
  text-decoration: underline;
  text-decoration-color: tomato;
}